<section>
<ul class= 'list d-flex'>
  <% @groups.each do |group| %>
    <li>
      <div class= 'd-flex'>
        <div class='d-flex'>
          <img src=<%= group.icon %> >
          <p><%= group.name %></p>
        </div>
        <h2>amount</h2>
      </div>
    <p><%= group.created_at %></p>
    </li>
  <%end%>
</ul>
</section>