/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root {
  --light: #f5f5f5;
  --main-color:#3778c2;
  --second-color:#5fb523;
  --text-color: #434b54;
}
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--text-color);
 }
 a, button, i, input[type=submit]{
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 a:hover, button:hover, i:hover, input[type=submit]:hover {
  opacity: 0.6;
 }
.d-none {
  display: none;
}
 .container {
   position: relative;
   padding: 10px;
   max-width: 600px;
   margin: 0 auto;
   background-color: var(--light);
 }
header > a,.header-links > a{
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}
header {
  position: sticky;
  background-color: var(--main-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.header-links {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 3px;
}
i {
  color: white;
}

.nav-ul > *  {
  border-bottom: 0.5px solid white;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%;
  cursor: pointer;
  
}
.nav-ul > *:hover {
  opacity: 0.6;
}
.nav-ul > li > a {
  color: #f5f5f5;
  font-weight: 50;
  line-height: 100%;
}

.phone-nav-active {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.notification {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(225, 140, 140);
  padding: 10px;
}

/* styling forms */

form {
  background: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form label {
  display: none;
}
form:last-child {
  border: none !important;
}
.field {
  margin-left: 20px;
  border-bottom: 1px solid black;

}
.field  > input {
  background: none !important;
  border: none !important;
  border-bottom: 1px solid var(--text-color);
}
input::placeholder {
  border: none;
  padding-inline-start: 5px;
  text-transform: capitalize;
  font-weight: 50;
}
/* chrome default input stles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;

}
input[type='submit'] {
  border: unset;
  background: unset;
}
.show-label {
  display: unset;
}

.devise-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.devise-links > * {
  border: unset;
  background: unset;
}
.actions {
  text-align: center;
  padding: 5px;
  background: none;
}




