<% if alert %>
  <div class="alert <%=@style%>" id='alert'>
    <strong><%= alert%></strong> 
    <i class='fa fa-close' id='close-alert'></i>
    <script>
    // this function adds a close button to the alert
    (function () {
      let focused = document.querySelectorAll('.focused');
      if(focused) focused[0].autofocus = false;
      let closeAlert = document.getElementById('close-alert');
      if (closeAlert)
      closeAlert.addEventListener('click', () => {
        closeAlert.parentElement.remove();
      })
    })();
    </script>
  </div>  
<%end%>
  
<%if notice %>
  <p class= 'notification <%=@style%>' id='notice'><%= notice%> </p>
  <script>
    // this function auto remove the notice after 2 seconds
    setTimeout (function () {
    let noticeElement = document.getElementById('notice');
    if (noticeElement) noticeElement.remove();
    clearTimeout();
    }, 2000);
  </script>
<%end %>